$('.message').append("<p style='text-align: right;'><%= @chat.message %></p>");
<!--選択した要素の最後に指定した要素またはコンテンツを追加するためのメソッド-->
$('input[type=text]').val("")
<!--jQueryを使用してテキスト入力フィールドの値をリセットするためのコード-->
<!--$('input[type=text]')`は、`type`属性が`text`であるすべての`input`要素を選択するためのセレクタ-->